body {
  background: #eac3b4;
}

h1,
h2 {
  color: black;
  border-radius: 20px;
  /* padding: 15px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  color: #0f172a;
  border: 20px solid #c68d86;
  background-color: #c68d86;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 0 auto;
}
ul {
  background-color: #e6aea7;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  border-radius: 15px;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  background-color: #e6aea7;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  border-radius: 15px;
}
div {
  color: black;
  border-radius: 40px;
  /* padding: 15px;
  margin: 25px; */
  font-family: "Times New Roman", Times, serif;
}
img {
  max-width: 100%;
  border-radius: 30px;
  height: auto;
  display: block;
  /* margin: 0 auto;
  padding: 5px;
  gap: 5em; */
}
.cta-btn {
  display: inline-block;
  padding: 5px 5px;
  color: black;
  background-color: #b584d1;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  border-radius: 20px;
  text-decoration: none;
}
main {
  max-width: 1080px;
  margin: 0 auto;
}
